spring:
  # profiles: eureka-server1
  application:
    name: eureka-server

server:
  port: 8081

eureka:
  instance:
    hostname: eureka-server1
  client:
    #fetch-registry: false
    #register-with-eureka: false
    serviceUrl:
      defaultZone: http://eureka-server2:8082/eureka
