zuul:
  ignoredHeaders: my-custom
  sensitiveHeaders: my-custom1111
  routes:
    client1:
      path: /client1/**
      serviceId: cloud-client1
    client2:
      path: /client2/**
      serviceId: cloud-client2
    forward1:
      path: /forward/**
      url: http://192.168.1.101:8089/
    custom_service:
      path: /custom_service/**
      serviceId: custom_serviceId
  ErrorFilterDemo:
    error:
      disable: true
ribbon:
  eureka:
    enabled: false
custom_serviceId:
  ribbon:
    listOfServers: http://192.168.1.101:8088/,http://192.168.1.101:8089/
#spring:
#  sleuth:
#    sampler:
#      probability: 1.0
#  zipkin:
#    base-url: http://localhost:8080/
#logging:
#  level:
#    zipkin2: DEBUG
#debug: true
